* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #06131a;
    padding-top: 80px; /* Ajustar el padding-top para dejar espacio para el nav */

}

/*------------------------------------------------cookies----------------------------------------------------------------*/
.bg-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 1s;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: #f0f0ee;
    width: 400px;
    padding: 30px;
    box-shadow: 0px 0px 9px 0px #111;
    text-align: center;
    z-index: 10001;
    border-radius: 10px;
}

.boton{
    padding: 10px 40px;
    margin: 10px;
}

.boton:hover{
    background: #ccc;
}

.boton:active{
    padding: 8px 35px;


}

/*------------------------------------------------Index----------------------------------------------------------------*/

.header {
    position: fixed; /* Asegurar que el nav esté fijo en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000;
}

.bar-navigator {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: right;
    align-items: center;
    background: #06131a;
    box-shadow: 0px 1px 10px #fff;
}

.enlaces {
    list-style: none;
    margin: 0 20px; /* Reducir el margen horizontal */
    border: 3px solid #aae;
    border-radius: 20px;
    padding: 5px 20px;
    background: #000820;
    text-align: center;
}

.enlaces:hover {
    border: 3px solid #abf;
    background: #000940;
}

.enlaces a {
    color: #fff;
    text-decoration: none;
}

.home-enlace{
    font-size: 50px;
    position: relative;
    font-family: "Nova Mono";
    left: -30px;
}

.home-enlace a{
    text-decoration: none;
    color: #fff

}

/*-------------------------------------------------------------------------------------------------------------------*/

.aside {
    margin-top: auto; /* Ajustar el margen superior para evitar colisión con el nav */
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
}

.texto p {
    line-height: 30px;
    text-align: justify;
    font-size: 20px;
    color: #bbb;
    text-shadow: 0px 0px 8px #fff;
    font-family: "nunito";
}

.texto h1{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Montserrat Alternates";
    font-weight: 500;
    letter-spacing: 5px;
    color: #000;
}

.texto{
    width: 500px;
    margin: 30px;
}

.container-bg{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background: url('bibliografia.avif');
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position: 20px -90px;
}

/*-------------------------------------------------------------------------------------------------------------------*/

section p{
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}

/*-------------------------------------------------------------------------------------------------------------------*/

.h2{
    color: #fff;
    font-size: 30px;
    text-align: left;
    margin: 20px;
    padding: 20px;
    font-family: "nunito";
}

/*-------------------------------------------------------------------------------------------------------------------*/


.footer{
    display: flex;
    border-top: solid 2px #fff;
    padding: 30px;
    width: 100%;
    box-shadow: 0px 1px 10px #fff;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.footer p{
    font-size: 30px;
    color: #fff;
    font-family: "Alegreya SC";
    margin: auto;
}

.redes{
    display: inline-block;
    width: auto;
    border: solid 2px blue;
    margin: 10px;
}

.facebook {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    color: #fff;
    font-size: 30px;
}

.instagram{
    display: inline-block;
    margin: 10px 10px;
    padding: 10px;
    color: #fff;
    font-size: 30px;
}

.github{
    display: inline-block;
    margin: 10px 10px;
    padding: 10px;
    color: #fff;
    font-size: 30px;
}

.email {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    color: #fff;
    font-size: 30px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 30px;
}

@media (max-width: 985px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px; /* Ajustar al tamaño de la barra de navegación */
        left: 0;
        background: #06131aee;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .enlaces {
        margin: 15px 0; /* Separar enlaces verticalmente */
        width: 50%;
        text-align: center;
    }
    
    .home-enlace{
    font-size: 35px;
    position: relative;
    font-family: "Nova Mono";
    left: -30px;
    }
}


@media (min-width: 985px) and (max-width: 1300px) {
    .enlaces {
        list-style: none;
        margin: 0 10px; /* Reducir el margen horizontal */
        border: 3px solid #aae;
        border-radius: 20px;
        padding: 5px 15px;
        background: #000820;
        text-align: center;
        font-size: 15px;
    }

    .home-enlace {
        font-size: 30px;
        position: relative;
        font-family: "Nova Mono";
    }
}

@media (min-width: 400px) and (max-width:780px){
    .container-bg{
        height: 500px;
        background-position: 0px 0px;
    }

    .section{
        font-size: 30px;
        margin: 20px;
        padding: 15px;
    }
}

@media (max-width:575px){
    .container-bg{
        height: 350px;
        background-position: 0px 0px;
    }
}